// config and mixin scss
@mixin placeholder {
  ::-webkit-input-placeholder {
    @content;
  }
  :-moz-placeholder {
    @content;
  }
  ::-moz-placeholder {
    @content;
  }
  :-ms-input-placeholder {
    @content;
  }
}
@mixin x-appearance($value) {
  -webkit-appearance: $value;
  -moz-appearance: $value;
  appearance: $value;
}

.btn-icon {
  width: 50px;
  height: 50px;
  border-radius: 5px;
  background-color: #fff;
  border: 0;
  color: #25b99a;
  box-shadow: none;
  outline: none;
  transition: all 0.3s ease-in-out;
  @include x-appearance(none);
  &:before {
    font-size: 24px;
    transition: all 0.3s ease-in-out;
  }
  &:hover {
    box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.15);
    &:before {
      color: #000;
    }
  }
}
.ml-auto {
  margin-left: auto;
}
.mr-auto {
  margin-right: auto;
}
.pointer {
  cursor: pointer;
}
.w-100 {
  width: 100%;
}
body,
html {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}
body {
  background-color: #edf0f1;
}

form {
  position: relative;
  width: 100%;
  height: 80px;
  z-index: 5;
  background-color: #25b99a;
  box-shadow: 0 2px 4px rgba(44, 62, 80, 0.15);
  padding: 15px;
  input {
    width: 100%;
    height: 50px;
    float: left;
    color: #fff;
    font-size: 15px;
    font-weight: 400;
    padding: 0 60px 0 18px;
    background: rgba(255, 255, 255, 0.2);
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    border-top-right-radius: 25px;
    border-bottom-right-radius: 25px;
    border: 0;
    box-shadow: none;
    outline: none;
    @include x-appearance(none);
  }
  @include placeholder {
    color: rgba(255, 255, 255, 0.856);
  }
  button {
    position: absolute;
    top: 15px;
    right: 15px;
  }
}

.todos {
  padding: 20px 0;
  li {
    margin-bottom: 5px;
    background-color: #fff;
    width: 100%;
    padding: 15px;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(44, 62, 80, 0.15);
    display: none;
    button {
      margin-left: 5px;
    }
    input {
      height: 30px;
      padding: 0 5px;
      border: 1px solid #e3e3e3;
      font-size: 18px;
      color: #313131;
    }
  }
}
.fliter-list {
  margin-bottom: 5px;
  background-color: #fff;
  width: 100%;
  padding: 15px;
  border-bottom-right-radius: 10px;
  border-bottom-left-radius: 10px;
  box-shadow: 0 2px 4px rgba(44, 62, 80, 0.15);
}
.event-done,
.event-all,
.event-doing {
  display: -ms-flexbox !important;
  display: flex !important;
}
.active {
  box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.15);
}
.action-filter {
  margin-left: 5px;
}
// grid used
*, ::after, ::before {
  box-sizing: border-box;
}
.col-12 {
  -ms-flex: 0 0 100%;
  flex: 0 0 100%;
  max-width: 100%;
}
.col, .col-1, .col-10, .col-11, .col-12, .col-2, .col-3, .col-4, .col-5, .col-6, .col-7, .col-8, .col-9, .col-auto, .col-lg, .col-lg-1, .col-lg-10, .col-lg-11, .col-lg-12, .col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5, .col-lg-6, .col-lg-7, .col-lg-8, .col-lg-9, .col-lg-auto, .col-md, .col-md-1, .col-md-10, .col-md-11, .col-md-12, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-md-auto, .col-sm, .col-sm-1, .col-sm-10, .col-sm-11, .col-sm-12, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9, .col-sm-auto, .col-xl, .col-xl-1, .col-xl-10, .col-xl-11, .col-xl-12, .col-xl-2, .col-xl-3, .col-xl-4, .col-xl-5, .col-xl-6, .col-xl-7, .col-xl-8, .col-xl-9, .col-xl-auto {
  position: relative;
  width: 100%;
  min-height: 1px;
  padding-right: 15px;
  padding-left: 15px;
}
.d-flex {
  display: -ms-flexbox!important;
  display: flex!important;
}

.flex-column {
  -ms-flex-direction: column!important;
  flex-direction: column!important;
}
.flex-row {
  -ms-flex-direction: row!important;
  flex-direction: row!important;
}
.align-self-center {
  -ms-flex-item-align: center!important;
  align-self: center!important;
}

.row {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  margin-right: -15px;
  margin-left: -15px;
}
.d-none {
  display: none;
}
.container {
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}
@media (min-width: 576px) {
  .container {
    max-width: 540px;
  }
}
@media (min-width: 992px) {
  .container {
    max-width: 960px;
  }
}
@media (min-width: 1200px) {
  .container {
    max-width: 1140px;
  }
}